header{
 background-color:palevioletred;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}
p{
  text-align: center;
}

button{
  text-align: center;
}

.button1{
  background-color: red;
  color: white;
  border-color:rgb(201, 189, 189) ;
}
.button2{
  background-color: rgb(142, 214, 173);
  color: black;
  border-color:rgb(201, 189, 189) ;
}
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:palevioletred;
  color: white;
  text-align: center;
}